.button {
    height: 60px;
    width: 200px;
    border-radius: 5px;
    outline: none;
    @include font ($font-size:1.2rem, $line-height: 2rem);
    color: $color-light;
    transition: all .3s ease-out;
    &.button_colored {
        background-color: $color-primary;
        border: 1px $color-primary solid;
        margin-right: 20px;
        &:hover {
         background-color: $color-primary-light; 
         border-color: $color-primary-light;  
        }
    }
    &.button_transparent {
        background-color: transparent;
        border: 1px solid rgba(255, 255, 255, 0.5);
        margin-left: 20px;
        &:hover {
            background-color: rgba(255, 255, 255, 0.5);
        }
    }
    &:hover {
        cursor: pointer;
        box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
    }
}

.button_submit {
    flex: auto;
    width: 564px;
}