//Header

.header__ico {
    @extend %icon-basics;
}

.header__ico_wheel {
    position: absolute;
    z-index: 1;
    top: 2.5rem;
    left: 64.5rem;
    width: 15rem;
    height: 15rem;
    background-image: url("../assets/img/icons/wheel.svg");
    transition: all 0.6s linear;

    &:hover {
        transform: rotate(180deg);
    }
}

//Start

.start__ico {
    @extend %icon-basics;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    transition: all 0.3s ease-out;

    &_down {
        margin-bottom: 8.3rem;
        background-image: url("../assets/img/icons/down-btn.svg");
    }

    &_fb {
        background-image: url("../assets/img/icons/fb.svg");
    }

    &_tw {
        margin: 2rem 0;
        background-image: url("../assets/img/icons/tw.svg");
    }

    &_inst {
        background-image: url("../assets/img/icons/inst.svg");
    }

    &:hover {
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0.2);
    }
}

.section__ico_square {
    @extend %icon-basics;
    @extend %icon-square;
    position: absolute;
}

.section__ico_square_small {
    @extend %icon-basics;
    @extend %icon-square-small;
    position: absolute;
}

//Contact

.link__ico {
    display: inline-block;
    @include font($line-height: 1.4rem, $font-size: 1.4rem);
    color: $color-primary;
    margin-right: 0.7rem;
}
