//Navigation

.nav__link {
    width: 133px;
    @include font ($line-height: 1.8rem,  $font-size:  1.2rem);
    color: $color-light;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .3s ease-out;
        &:nth-child(4) {
            margin-right: 110px;
        }       
        &:nth-child(5) {
            margin-left: 110px;
        }

        &:hover {
            cursor: pointer;
            text-decoration: underline;
        }
}