.about__content {
    padding-top: 187px;
    .about__title {
        &::after {
            margin-top: 8px;
            margin-left: 60px;
        }
    }
    .about__text {
        width: 573px;
    }
}

.about__images {
    position: relative;
    padding: 100px 0 0 100px;
    .about__img {
        background-image: url("../assets/img/about-img.png");
    }
    .about__ico {
        top: 213px;
        right: 0;
    }
}
