.book__layout {
    flex-direction: row;
}

.book__title {
    text-align: center;
    &::after {
        margin: 10px auto;
    }
}

.book__form {
    @include columns($width: 40%);
}

.book__images {
    margin-bottom: 50px;
    position: relative;
    .book__img {
        background-image: url("../assets/img/book.png");
    }
    .book__ico {
        top: 225px;
        right: 0px;
    }
}

.book__shedule {
    margin: 0 auto 38px;
    @include font($line-height: 1.2rem, $font-size: 1.2rem, $font-weight: normal);
    color: $color-form-text;
}
