.carousel__container {
    overflow: hidden;
    box-sizing: border-box;
    .carousel {
        transform-style: preserve-3d;
    }
}

.carousel__slide {
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100;
    transition: all 0.5s;
    &.initial {
        opacity: 1;
        position: relative;
        z-index: 900;
    }
}
