.menu__title {
    text-align: center;
    &::after {
        margin: 1rem auto;
    }
}

.menu__text {
    margin: 0 auto 5rem;
    width: 56.5rem;
}

.menu__header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 5rem;
    &_item {
        list-style: none;
        text-align: center;
        width: 12rem;
        height: 5rem;
        border-left: 1px solid rgba(51, 51, 51, 0.2);
        text-transform: uppercase;
        color: $color-menu;
        @include font($line-height: 4.8rem, $font-size: 1.2rem);
        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }
        &.active {
            text-decoration: underline;
        }
        &:nth-last-child(7) {
            border: none;
        }
    }
}

.menu__content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 7rem;
    @include font($font-family: "Banny", $font-size: 1.8rem, $line-height: 1.8rem);
    color: $color-menu;
    &_item {
        flex-basis: 30%;
    }
}

.menu__position {
    margin-bottom: 3rem;
    .position_name {
        width: 25.1rem;
        text-transform: uppercase;
    }
    .position_name,
    .position_price {
        display: inline-block;
    }
    .position_price {
        padding-left: 1.5rem;
    }
    .position_description {
        max-width: 90%;
        font-size: 1.3rem;
        color: $color-form-text;
    }
}

[data-tab-content] {
    display: none;
    &.active {
        display: block;
    }
}
