.specialties__images {
    position: relative;
    padding-left: 115px;
    .specialties__img {
        background-image: url("../assets/img/pancake.png");
    }
    .specialties__ico {
        top: 104px;
        left: 0;
    }
}

.specialties__content {
    color: $color-light;
    padding-top: 85px;
    .specialties__title {
        &::after {
            margin: 8px auto;
        }
    }
    .specialties__text {
        width: 573px;
    }
}
