.team__images {
    position: relative;
    padding-left: 11.5rem;
    .team__img {
        background-image: url("../assets/img/chef.png");
    }
    .team__ico {
        top: 11.5rem;
        left: 0;
    }
}

.team__content {
    color: $color-light;
    padding-top: 8.5rem;
    .team__title {
        &::after {
            margin: 1rem auto;
        }
    }
    .team__text {
        width: 57.3rem;
    }
}
