.team__images {
    position: relative;
    padding-left: 115px;
    .team__img {
        background-image: url("../assets/img/chef.png");
    }
    .team__ico {
        top: 115px;
        left: 0;
    }
}

.team__content {
    color: $color-light;
    padding-top: 85px;
    .team__title {
        &::after {
            margin: 10px auto;
        }
    }
    .team__text {
        width: 573px;
    }
}
